*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}

.gameArea{
    width: 80vw;
    height: 80vh;
    position: relative;
    left: 10vw;
    top: 2.5vh;
    overflow:hidden;
}
.sky{
    width: 80vw;
    height: 80vh;
    background-color: skyblue;
    background:url(sky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.ground{
    width: 80vw;
    height: 10vh;
    background-color: brown;
    background:url(ground.png);
    background-size:cover;
    position: absolute;
    left: 10vw;
    top: 80vh;
}
.bird{
    position: absolute;
    width: 11vh;
    height: 11vh;
    background: url(bird.png);
    background-size: cover;
    position: absolute;
    background-color: transparent;
    /* border: 0.3px solid black; */
}
.obstacle{
    width: 4vw;
    height: 50vh;
    background-color: transparent;
    position: absolute;
    background-image:url(pipe.png);
    background-size:cover;
}
