nav {
    background-color: rgb(217, 241, 241);
    padding: 10px;
    display: flex;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.logo-container {
    width: 170px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-container p {
    font-family: 'Courier New', Courier, monospace;
}

#logo {
    width: 15vw;
}
.noMatches{
    text-align: center;
    font-size: 3vh;
    font-weight: lighter;
    color: rgb(173, 171, 168);
}
#contents {
    margin-left: 150px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}

#contents li a{
    text-decoration: none;
    font-size: 3.5vh;
}

.login{
    margin-left: 100px;
    margin-top: 15px;
    display: flex;
    gap: 2vh;
}
.login i{
    font-size: 5vh;
}
.btn
{
    width: 5vw;
    height: 5vh;
    font-size: 3vh;
    background-color:rgb(217, 241, 241) ;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 1vh;
}
.btn:hover{
    background-color: white;
}
 .liveMatches{
    width: 90vw;
    margin: 50px auto 0 auto;
    height: fit-content;
    /* border:1px solid black ; */
    display: grid;
    grid-template-columns: repeat(2,auto);
 }
 .match{
    margin: 2vh;
    border: 1px solid black;
    padding: 2vh;
    border-radius: 2vh;
    box-shadow: 0px 0px 2px 0.2px black;
 }
 .numberRepresenter{
    position: absolute;
    top: 17vh;
    left: 3vw;
 }
 .match:hover{
    box-shadow: 0px 0px 4px 1px black;
    cursor: pointer;
 }
.logo-score{
    display: flex;
    align-items: center;
    gap: 10vh;
}
.homeScore{
    font-size: 5vh;
    font-weight: bold;
}
.teams{
    display: flex;
    justify-content: space-between;
}

.home{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 .home-logo{
    margin-top: 3vh;
    width: 5vw;
 }
 .loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .loading h4{
    color: green;
 }
 .load{
    width: 8vh;
    border-radius: 5vh;
    height: 0.7vh;
    /* border: 0.1vh solid black; */
 }
 .innerload{
    width: 2vh;
    height: 0.7vh;
    background-color: rgb(12, 223, 47);
    z-index: 1;
    border-radius: 5vh;
    position: relative;
    animation: loadAnim 1s alternate 0s infinite;
 }
 @keyframes loadAnim {
    0%{
        width: 1vh;
        left: 0vh;
    }
    10%{
        width: 2vh;
        left: 0vh;
    }
    20%{
        width: 4vh;
        left: 0vh;
    }
    50%{
        width: 8vh;
        left: 0vh;
    }
    80%{
        width: 4vh;
        left:4vh;
    }
    90%{
        width: 2vh;
        left: 6vh;
    }
    100%{
        width: 1vh;
        left: 7vh;
    }
 }