*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
.container{
    background-color: aqua;
    align-items: center;
    height: 80vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    padding: 3vh;
    gap: 5vh;
}
#exp{
    width: 25vw;
    height: 8vh;
    font-size: 3vh;
}
.flags{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}