*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gameArea{
    width: 95vh;
    height: 95vh;
    margin: auto;
    margin-top: 2.5vh;
    background-color: rgb(131, 172, 207);
    display: flex;
    flex-wrap: wrap-reverse;
    
}
.grid{
    width: 9.5vh;
    height: 9.5vh;
    background-color: bisque;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.dice{
    position: absolute;
    left: 10vw;
    top: 20vw;
    width: 10vw;
    height: 10vw;
    background-color: white;
    background-image: url(images/dice-game.gif);
    background-size: cover;
    border: 1px solid black;
}
.pawn{
    position: absolute;
    left: 0;
    top: 2vh;
    width: 3vh;
    height: 3vh;
    background-image:url(images/pawn1.png) ;
    background-size: cover;
}